<launch>

 <!-- <group ns="turtlesim1">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
  </group>

  <group ns="turtlesim2">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
  </group>

  <node pkg="turtlesim" name="mimic" type="mimic">
    <remap from="input" to="turtlesim1/turtle1"/>
    <remap from="output" to="turtlesim2/turtle1"/>  
  </node>
  -->
  <group ns="turtlesim3">
     <node pkg="turtlesim" name="wang" type="turtle_teleop_key" output="screen"/>
    <node pkg="turtlesim" name="jin" type="turtlesim_node">
    <remap from="cmd_vel" to="turtlesim3/turtle1"/>
  </node>
  </group>
</launch>

