<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>

  <node name="test" pkg="sit_robot_hub" type="test.py" output="screen"/>
  
  <node name="robot_states_publish_node" pkg="robot_states_publish" type="robot_states_publish_node" output="screen"/>
  
 <include file="$(find sit_robot_2dnav)/sit_robot_configuration/sit_robot_configuration.xml"/>

  <include file="$(find leg_detector)/launch/leg_detector.xml"/>
  
  <node name="laser_obstacle_avoidance_node" pkg="laser_obstacle_avoidance" type="laser_obstacle_avoidance_node" output="screen"/> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sit_robot_2dnav)/single_robot.rviz" />

</launch>
