<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>
  <node name="robot_states_publish_node" pkg="robot_states_publish" type="robot_states_publish_node" output="screen"/>
  
  <node name="test" pkg="sit_robot_hub" type="test.py" output="screen"/>

  <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_stage)/stage_config/maps/willow-full-0.025.pgm 0.025" />-->

  <node name="map_server" pkg="map_server" type="map_saver"/>

  <include file="$(find sit_robot_2dnav)/sit_robot_configuration/sit_robot_configuration.xml"/>

  <include file="$(find sit_robot_2dnav)/move_base_config/move_base.xml"/>

  <include file="$(find sit_robot_2dnav)/move_base_config/slam_gmapping.xml"/>  

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sit_robot_2dnav)/single_robot.rviz" />

</launch>
